@namespace RoarUI
@inject IJSRuntime JSRuntime

<RoarDependency ComponentName="button" />

<wa-button href="@Href" target="@Target" variant="@Variant" appearance="@Appearance" size="@Size" pill="@Pill" @attributes="AdditionalAttributes" @ref="Element">@ChildContent</wa-button>

@code {
    /// <summary>
    /// The button's theme variant. Defaults to <see cref="Variant.Neutral"/> if not within another element with a variant.
    /// </summary>
    [Parameter]
    public Variant Variant { get; set; }

    /// <summary>
    /// The button's visual appearance.
    /// </summary>
    [Parameter]
    public Appearance Appearance { get; set; }

    /// <summary>
    /// The button's size.
    /// </summary>
    [Parameter]
    public Size Size { get; set; }

    /// <summary>
    /// Draws a pill-style button with rounded edges.
    /// </summary>
    [Parameter]
    public bool Pill { get; set; }

    /// <summary>
    /// The link's URL.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public string Href { get; set; } = "";

    /// <summary>
    /// Tells the browser where to open the link. Defaults to <see cref="LinkTarget"/>.
    /// </summary>
    [Parameter]
    public LinkTarget Target { get; set; }

    /// <summary>
    /// Emitted when the button loses focus.
    /// </summary>
    [Parameter]
    public EventCallback OnBlur { get; set; }

    /// <summary>
    /// Emitted when the button gains focus.
    /// </summary>
    [Parameter]
    public EventCallback OnFocus { get; set; }

    /// <summary>
    /// Emitted when the form control has been checked for validity and its constraints aren't satisfied.
    /// </summary>
    [Parameter]
    public EventCallback OnInvalid { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    internal ElementReference Element { get; set; }

    /// <summary>
    /// Removes focus from the button.
    /// </summary>
    public ValueTask BlurAsync() => JSRuntime.InvokeVoidAsync("executeMethodFromInstance", Element, "blur");

    /// <summary>
    /// Sets focus on the button.
    /// <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus#options">https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus#options</a>
    /// </summary>
    public ValueTask FocusAsync(bool preventScroll = false, bool focusVisible = true) => JSRuntime.InvokeVoidAsync("executeMethodFromInstance", Element, "focus", new { preventScroll, focusVisible });

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var instance = DotNetObjectReference.Create(this);

            await JSRuntime.InvokeVoidAsync("subscribeEvent", Element, "blur", instance, nameof(TriggerBlurAsync));
            await JSRuntime.InvokeVoidAsync("subscribeEvent", Element, "focus", instance, nameof(TriggerFocusAsync));
            await JSRuntime.InvokeVoidAsync("subscribeEvent", Element, "wa-invalid", instance, nameof(TriggerInvalidAsync));
        }
    }

    [JSInvokable]
    public async Task TriggerBlurAsync()
    {
        await OnBlur.InvokeAsync();
    }

    [JSInvokable]
    public async Task TriggerFocusAsync()
    {
        await OnFocus.InvokeAsync();
    }

    [JSInvokable]
    public async Task TriggerInvalidAsync()
    {
        await OnInvalid.InvokeAsync();
    }
}
